<template>
    <div class="adminLoginPage">
        <div class="bgimg"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <div class="login">
                        <div class="logo"></div>
                        <div class="loginboxarea">
                            <h4 class="color1">聊天室</h4>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="帳號" required autofocus v-model="account">
                            </div>
                            <div class="input-group">
                                <input type="password" class="form-control" placeholder="密碼" required v-model="password" v-on:keyup.enter="goToPage">
                                <span class="invalid-feedback"><strong>錯誤信息</strong></span>
                            </div>
                            <input type="button" class="btn btn-info" value="登入" @click="goToPage" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Login",
        data() {
            return {
                account: "",
                password: "",
            }
        },
        created() {
            if (this.$auth.isAdminLogin()){
                this.$router.push({name: 'MainPage'});
            }
        },
        methods: {
            goToPage: function () {
                if (this.account === "") {
                    this.$message.warning("請輸入帳號");
                }else if (this.password === "") {
                    this.$message.warning("請輸入密碼");
                }else {
                    this.$http.fetchWithEncrypt`SignIn${{
                        'account': this.account,
                        'password': this.password,
                    }}
                    ${json => {
                        if (json.status === true) {
                            this.$auth.setAdminToken(json.message);
                            this.$router.push({name: 'MainPage'});
                        }else{
                            this.$public.showNotify(json.message, json.status);
                        }
                    }}`;
                }
            },
        }
    }
</script>

<style scoped>
    .adminLoginPage{
        height: 100vh;
        width: 100%;
        overflow: hidden;
    }
    .adminLoginPage{

        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgb(158, 210, 111) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b2d93c',GradientType=0 ); /* IE6-9 */
    }
    .adminLoginPage .col-lg-4:nth-child(2){
        position: relative;
        height: 100vh;
    }
    .adminLoginPage .logo img{
       width: 80%;
    }
    .adminLoginPage .login{
        width: 100%;
        box-sizing: border-box;
        padding: 3rem 2rem 1.5rem 2rem;
        background-color: rgba(255,255,255,.7);
        border: 1px solid rgba(255,255,255,.9);
        border-radius: 5px;
        color: var(--color4);
        box-shadow: 0 0 20px rgba(255,255,255,.2);
        text-align: center;
        margin-top: 50px;
    }


    .login .loginboxarea h4{
        margin: 1rem 0;
    }
    .login .loginboxarea input{
        background: white;
        border: 0;
        margin: 1rem 0;
        color: var(--color1);
    }
    .login .loginboxarea input::placeholder{
        color: #b8b8b8;
    }
    .login .loginboxarea input[type="button"]{
        background: var(--color1);
        color: white;
        min-width: 70%;
        border-radius: 99rem;
    }
    .login .loginboxarea input[type="button"]:hover{
        background: var(--color4);
    }
    /*PC*/@media (min-width: 992px){
        body .adminLoginPage .login{
            position: absolute;
            top: 50%;
            margin-top: -211px;
        }
    }
</style>
