<template>
    <div class="MainPage p-0">
        <div style="text-align: right;width: 100vw; height: 10vh"><button class="btn btn-outline-primary" @click="signOut">登出</button></div>
        <table style="width: 100vw; height: 90vh;">
            <tr>
                <td style="width: 90vw; height: 100%;" colspan="2">
                    <div style="height: 100%;width: 100%; overflow: auto;">
                        <div v-for="(item , index ) in talkLogs" :key="index">
                            <div v-if="item.msgType ==='myself'" style="float:right;"> {{item.message}}</div>
                            <div v-else style="float:left;"> {{item.message}}</div>
                            <br>
                        </div>
                    </div>
                </td>
                <td style="width: 10vw; height: 100%;background: #f1ffd1; vertical-align:top;">
                    <div v-for="(item , index ) in friendList" :key="index">
                        <button class="btn btn-outline-secondary mb-3 w-100" type="button"
                                @click="getChannelId(item.id)">
                            {{item.name}}
                            {{ (getUnreadCount(item.id) === "" || getUnreadCount(item.id) === undefined) ? "" : "("+getUnreadCount(item.id)+")"}}
                        </button>
                    </div>

                </td>
            </tr>
            <tr>
                <td colspan="2" style="width: 100%">

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="請輸入訊息..." v-model="message">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" @click="sendMsg">傳送</button>

                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
    import auth from "../util/auth";
    import $ from "jquery";
    let conn;
    export default {
        name: "MainPage",
        data() {
            return {
                unreadList: [],
                friendList: [],
                message: "",
                talkLogs: [],
                roomId: "",
                uuid: "",
                toUserId: 0
            }
        },
        created() {
            this.createUUID();
            this.openSocket();
            this.getFriendList();
            this.getUnreadList();
        },
        mounted() {
            let self = this
            conn.onopen = function () {
                    conn.send(JSON.stringify({
                        "action": "create",
                        "token": auth.getAdminToken()
                    }));
            }
            conn.onclose = function () {
                self.openSocket()
            };
            conn.onmessage = function (evt) {
                let data = "";
                try {
                    data = JSON.parse(evt.data)
                } catch (e) {
                    alert(e.toString());
                    return;
                }
                let pushData = {};
                switch (data.action) {
                    case 'message':
                        pushData.action = data.action
                        pushData.message = data.message

                        if (data.uuid === self.uuid) {
                            pushData.msgType = "myself"
                        } else {
                            pushData.msgType = ""
                        }
                        console.log(pushData)
                        self.talkLogs.push(pushData)
                        break
                    case 'unRead':
                        $.each( self.unreadList, function (key, value) {
                            if (value.sendUserId === data.sendUserId){
                                value.count = data.count
                            }
                        })
                }
            };
        },
        methods: {
            async getChannelId(toUserId) {
                this.toUserId = toUserId
                if (this.roomId !== "") {
                    await conn.send(JSON.stringify({
                        "action": "leave",
                        "roomId": this.roomId,
                        "token": auth.getAdminToken()
                    }));
                }
                await this.$http.fetchWithAuth`GetChannelId${{
                    "toUserId": toUserId
                }}
                 ${json => {
                    this.talkLogs = [];
                    this.roomId = json
                    this.$http.fetchWithAuth`GetMsgLog${{
                        "roomId": this.roomId
                    }}
                    ${json => {
                        this.talkLogs = json
                        conn.send(JSON.stringify({
                            "action": "join",
                            "message": "",
                            "roomId": this.roomId,
                            "token": auth.getAdminToken()
                        }));
                    }}`;
                }}`;
                await this.$http.fetchWithAuth`ReadMessage${{
                    "toUserId": toUserId
                }}`;
                this.getUnreadList();
            },
            getUnreadList() {
                this.$http.fetchWithAuth`GetUnReadCountList${{}}
                ${json => {
                    this.unreadList = json
                }}`;

            },
            getUnreadCount(userId) {
                if (this.unreadList.length > 0) {
                    for (let i = 0; i < this.unreadList.length; i++) {
                        if (this.unreadList[i].sendUserId === userId) {
                            return (this.unreadList[i].count === 0)? "" : this.unreadList[i].count
                        }
                    }
                }else{
                    return ""
                }
            },
            getFriendList() {
                this.$http.fetchWithAuth`GetFriendList${{}}
                ${json => {
                    this.friendList = json;
                }}`;
            },
            sendMsg() {
                conn.send(JSON.stringify({
                    "action": "message",
                    "message": this.message,
                    "roomId": this.roomId,
                    "token": auth.getAdminToken(),
                    "uuid": this.uuid,
                    "toUserId": this.toUserId
                }));

                this.message = "";
            },
            openSocket() {
                if (window["WebSocket"]) {
                    conn = new WebSocket(process.env.VUE_APP_SOCKET);
                } else {
                    this.talkLogs.push("<b>Your browser does not support WebSockets.</b>");
                }
            },
            createUUID() {
                this.uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                    return v.toString(16);
                });
            },
            signOut(){
                this.$auth.clearToken();
                this.$router.push({"name":"Login"})
            },

        }
    }
</script>
<style scoped>

</style>